/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vfox-c-white: #ffffff;
  --vfox-c-black: #181818;
  --vfox-c-slate-400: #94a3b8;

  --vfox-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vfox-c-divider-light-2: rgba(60, 60, 60, 0.12);

  --vfox-c-text-light-1: var(--vfox-c-indigo);
  --vfox-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vfox-c-text-dark-1: var(--vfox-c-white);
  --vfox-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vfox-c-text-disabled: var(--vfox-c-slate-400);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vfox-c-white);
  --color-background-soft: var(--vfox-c-white-soft);
  --color-background-mute: var(--vfox-c-white-mute);

  --color-border: var(--vfox-c-divider-light-2);
  --color-border-hover: var(--vfox-c-divider-light-1);

  --color-heading: var(--vfox-c-text-light-1);
  --color-text: var(--vfox-c-black);

  --section-gap: 160px;

  --vfox-sidebar-width-mobile: 320px;
  --vfox-sidebar-width-small: 272px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
